// _header.sass

header
  position: fixed
  padding: 10px 0px 10px 0px
  background: rgba(47, 47, 47, 0.98)
  width: 100%
  z-index: 9999
  .container
    padding: 0px
    .col-sm-12
      padding: 0px
      .title-container
        padding: 0px
        .title
          margin: 0px
          a
            color: #fff
            letter-spacing: 0cm
            font-weight: bold
            text-decoration: none
            padding-left: 5px
          .about-icon
            max-width: 30px

