@import '_util'
@import '_header'
@import '_shots'
@import '_about'

@font-face
  font-family: 'UniversLTStd47LightCondensed'
  src: url('../fonts/universltstd-lightcn-webfont.svg')

$font-stack: 'UniversLTStd47LightCondensed', Helvetica, Arial, sans-serif

html
  height: 100%

body
  height: 100%
  font-family: $font-stack
  background: #f4f4f4
  color: #fff
  .row-centered
    text-align: center