header {
  position: fixed;
  padding: 10px 0px 10px 0px;
  background: rgba(47, 47, 47, 0.98);
  width: 100%;
  z-index: 9999; }
  header .container {
    padding: 0px; }
    header .container .col-sm-12 {
      padding: 0px; }
      header .container .col-sm-12 .title-container {
        padding: 0px; }
        header .container .col-sm-12 .title-container .title {
          margin: 0px; }
          header .container .col-sm-12 .title-container .title a {
            color: #fff;
            letter-spacing: 0cm;
            font-weight: bold;
            text-decoration: none;
            padding-left: 5px; }
          header .container .col-sm-12 .title-container .title .about-icon {
            max-width: 30px; }

shots .container {
  padding-top: 65px; }
shots .shot-container {
  padding: 10px;
  margin-bottom: 15px;
  background: #fff;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07); }
  shots .shot-container .shot {
    cursor: pointer; }
    shots .shot-container .shot img {
      max-width: 100%; }
  shots .shot-container .status {
    margin: 10px 0px 15px 0px;
    height: 15px; }
    shots .shot-container .status li {
      float: right;
      width: auto;
      margin: 0 0 0 15px;
      display: inline;
      line-height: 1;
      color: #aaa; }
      shots .shot-container .status li .count {
        font-size: 18px; }
      shots .shot-container .status li .icon-container {
        font-size: 12px;
        padding-left: 20px;
        background-position: 0 0;
        background-repeat: no-repeat; }
      shots .shot-container .status li .likes {
        background-image: url("../imgs/fav-icon.png"); }
      shots .shot-container .status li .comments {
        background-image: url("../imgs/comment-icon.png"); }
      shots .shot-container .status li .views {
        background-image: url("../imgs/views-icon.png"); }
shots .details-container {
  max-width: 400px;
  color: #555;
  font-size: 16px;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid #ddd; }
  shots .details-container p {
    margin: 0; }
  shots .details-container .header-container {
    position: relative;
    padding-left: 60px;
    min-height: 48px;
    text-align: left; }
    shots .details-container .header-container .avatar-container {
      position: absolute;
      top: 0;
      left: 0; }
      shots .details-container .header-container .avatar-container img {
        width: 48px;
        max-height: 48px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      shots .details-container .header-container .avatar-container img:hover {
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7; }
    shots .details-container .header-container .header-info-container .title {
      margin: 0; }
  shots .details-container .description-container {
    text-align: justify;
    padding: 15px 0px 0px 0px; }

about .container {
  padding-top: 65px;
  color: #555;
  font-size: 22px;
  text-align: justify; }
  about .container .about-container {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 25px; }

@font-face {
  font-family: "UniversLTStd47LightCondensed";
  src: url("../fonts/universltstd-lightcn-webfont.svg"); }
html {
  height: 100%; }

body {
  height: 100%;
  font-family: "UniversLTStd47LightCondensed", Helvetica, Arial, sans-serif;
  background: #f4f4f4;
  color: #fff; }
  body .row-centered {
    text-align: center; }

/*# sourceMappingURL=base.css.map */
