<div class="container">
    <div class="row-centered">
        <div class="col-sm-12">
            <div class="title-container">
                <h2 class="title">
                    <a href="javascript:void(0);" title="Return to the home page" ng-click="showShots()">Dribbble
                        Popular Shots</a>
                    <a href="javascript:void(0);">
                        <img class="about-icon" src="imgs/about.png" title="About the project" ng-click="showAbout()">
                    </a>
                </h2>
            </div>

        </div>
    </div>
</div>




